body{background-color: white!important;}
.bgcolor{background-color: green!important; color: #eeeeee!important;}
.navbar-brand{color: aliceblue!important; font-size: 20px}
nav .nav-link{color: #eeeeee;font-weight: bold;font-size: 18px}




.footer{background-color: black}
.copywrite{padding: 50px; color: #eeeeee}