// $color-1:#120606;
// $color-2:#1d0b0b;
// $color-3:#c92f2f;
// $color-4:#f7a7a7;
// $color-5:#eeeeee;
// $color-6:#959595;

// $color-1-rgb:rgb(23, 37, 42);
// $color-2-rgb:rgb(43, 122, 120);
// $color-3-rgb:rgb(58, 175, 169);
// $color-4-rgb:rgb(222, 242, 241);
// $color-5-rgb:rgb(254, 255, 255);

$color-1:#0d1120;
$color-2:#131926;
$color-2b:#061942;

$color-3:#2b7a78;//iside blu
$color-7:#3aafa9;
$color-8:#ff4500;

$color-4:#aaa;
$color-5:#eee;
$color-6:#959595;
$color-1a:#06080f;

