//font-family: 'Maven Pro', sans-serif;
//font-family: 'Rajdhani', sans-serif;
//font-family: 'Righteous', cursive;
//font-family: 'Comfortaa', cursive;
//font-family: 'Yanone Kaffeesatz', sans-serif;
//font-family: 'Nunito Sans', sans-serif;
//font-family: 'Quicksand', sans-serif;
//font-family: 'Grenze', serif;
//font-family: 'Ubuntu', sans-serif;
//font-family: 'Blinker', sans-serif;

.heading-2{
 font-size: 2.7rem;
//  color: #2d3c4d;
display: inline-block;
 background-image: linear-gradient(to right,#000, #151c24,#1f2935, #2d3c4d, #4e6783);
// background-image: linear-gradient(to right, #151c24,#1f2935, red);
 -webkit-background-clip: text;
 color: transparent;
 letter-spacing: .2rem;
 margin-bottom: 1.1rem; 
 transition: all .5s;

  &:hover{
  transform: skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba($color: #000000, $alpha: .2);
 }
}
.section-heading {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: bold;
}
.emphasize{
    color:black;
    font-weight: bold;
}
.paragraph{
    font-size: 1.1rem;
    color:  rgb(100, 100, 100);
    line-height: 2.1rem;

    &:not(:last-child){
        margin-bottom: 2rem;
    }
}

.h1-underscore{
    background-color: rgb(248, 248, 248);
    height: 3px;
    width: 10%;
    // display: inline-block;
    margin-left: 10px;
    margin-top: 5px;
    border-radius: 50px;

}